bots/worker/context/n8n-worker-chat-workflow.json
{
  "name": "워커팀 자연어 업무 intake",
  "nodes": [
    {
      "parameters": {
        "path": "worker-chat-intake",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "id": "Webhook_1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:4000/api/webhooks/n8n/chat-intake",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-worker-webhook-secret",
              "value": "={{$env.WORKER_WEBHOOK_SECRET}}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{$json}}",
        "options": {}
      },
      "id": "HTTP_1",
      "name": "Worker Chat Intake",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [520, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"ui\"] && $json[\"ui\"][\"type\"] ? $json[\"ui\"][\"type\"] : \"\"}}",
              "operation": "equal",
              "value2": "route"
            }
          ]
        }
      },
      "id": "IF_1",
      "name": "업무 큐 생성됨?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [760, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}"
      },
      "id": "Respond_Immediate",
      "name": "즉시 응답",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1020, 420]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}"
      },
      "id": "Respond_Route",
      "name": "큐 응답",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1020, 180]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Worker Chat Intake",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Worker Chat Intake": {
      "main": [
        [
          {
            "node": "업무 큐 생성됨?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "업무 큐 생성됨?": {
      "main": [
        [
          {
            "node": "큐 응답",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "즉시 응답",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {},
  "versionId": "worker-chat-intake-draft"
}
