bots/reservation/context/n8n-ska-command-workflow.json
{
  "name": "스카팀 읽기 명령 intake",
  "nodes": [
    {
      "parameters": {
        "path": "ska-command",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "id": "Webhook_1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:3031/api/webhooks/n8n/ska-command",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-ska-webhook-secret",
              "value": "__SKA_WEBHOOK_SECRET__"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{$json}}",
        "options": {}
      },
      "id": "HTTP_1",
      "name": "Ska Local Bridge",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [540, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}"
      },
      "id": "Respond_1",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [840, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Ska Local Bridge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ska Local Bridge": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {},
  "versionId": "ska-command-intake-draft"
}
